<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/Performance</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>oltreblocksy-theme/inc</directory>
            <directory>oltreblocksy-theme</directory>
        </include>
        <exclude>
            <directory>oltreblocksy-theme/assets</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <html outputDirectory="coverage-html"/>
            <text outputFile="coverage.txt"/>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="phpunit.xml"/>
    </logging>
</phpunit>